/* General Page Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #5d9c78;
    color: #5ba3a4;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Header and Navigation */
header {
    background-color: #262261;
    color: #876581;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: right;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* Application Section */
.application {
    background-color: #fff;
    padding: 60px 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.application h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
}

.application p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.apply-button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.apply-button:hover {
    background-color: #575757;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    border-top: 5px solid #575757;
}

footer p {
    margin: 5px 0;
}
